body{
	font-family: arial, helbetica, sans-serif;
	background: #240009;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
.neon{
	display: table;
	font-size: 150px;
	text-shadow: 0 0 50px #F0056B;
	background: 0 -10 #F0056B;
	border: 12px solid #F0056B;
	border-radius: 20px;
	box-shadow:0 0 50px #F0056B, inset 0 0 50px #F0056B;
	color: #F0056B;
	padding: 20px 70px;
	margin: 200px auto 0;
	transition: all 0.50s;
}
.neon:hover{
	background: #F0056B;
	color: #000;
	box-shadow:0 0 70px #F0056B,0 0 70px #F0056B;
}